.contact-header {
    box-shadow: 0 10px 25px 0 rgba(49,49,93,0.1);
    background-color: #fff;
    border-radius: 25px;
    padding: 30px 0 0;
    text-align: left;
    max-width: 650px;
    width: 100%;
    color: #1e3a6e;
    margin: 40px auto 0;
}

.section-contact {
}

@media (min-width: 768px) {
    .section-contact {
        height: 590px;
        margin-bottom: 220px;
    }
}

.section-contact__submit-button {
    border: 1px solid #f7931d;
    text-align: center;
    border-radius: 5px;
    height: 50px;
    background: #f7931d;
    padding: 10px 10px;
    width: 205px;
    margin: 20px 0;
    color: #FFF !important;
}

.section-contact label {
    font-weight: 600;
}

.section-contact .form-control-plaintext {
    padding: 3px;
    background-color: #e6e6e6;
    color: #000;
}

.section-welcome p.contact-header__explain {
    line-height: 13px !important;
    font-size: 12px !important;
}



.contact-modal-container {
    align-items: center;
    animation-direction: normal;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: fade-in;
    animation-timing-function: cubic-bezier(0.125, 0.5, 0.125, 1);
    background-color: rgba(20, 31, 51, 0.75);
    bottom: 0;
    justify-content: center;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}



.fa-at {
    fill: #b3daa4;
    width: 44px;
    height: 44px;
    margin-left: 11px;

    content: "";
    display: inline-block;
    margin-right: 8px;

    line-height: 10px;
    vertical-align: middle;

    background-color: #1e3a6e;
    -webkit-mask-image: url("../img/fa/at-solid.svg");
    -webkit-mask-size: cover;
}

.fa-chalkboard-teacher {
    fill: #b3daa4;
    width: 55px;
    height: 44px;

    content: "";
    display: inline-block;
    /*margin-right: 8px;*/

    line-height: 10px;
    vertical-align: middle;

    background-color: #1e3a6e;
    -webkit-mask-image: url("../img/fa/chalkboard-teacher-solid.svg");
    -webkit-mask-size: cover;
}

.col-icon {
    max-width: 70px;
}