.section-bg-grey {
    background: #fafafb;
    border-bottom: 1px solid #eee;
}

.section-welcome {
    background-color: rgb(28, 66, 120);
    color: #FFF;
    text-align: center;
    padding: 30px 0 !important;
    border-bottom: none !important;
}

.section-welcome h2 {
    color: #FFF;
    text-align: center;
    text-transform: none;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    margin: 2px;
}
.section-welcome h3 {
    color: #FFF;
    text-align: center;
    text-transform: none;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    margin: 2px;
}
@media (max-width: 415px) {
    .section-welcome h2 {
        font-size: 20px;
    }
    .section-welcome h3 {
        font-size: 30px;
    }
}

.section-welcome em {
    border-bottom: 2px solid #f7931d;
    font-style: normal;
}

.section-welcome p {
    font-size: 18px;
    line-height: 22px;
    color: rgb(161, 177, 206);
    margin: 10px auto 10px;
}

.section-welcome__computer-container {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    position: relative;
}

.section-welcome__bg {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 15%;

    background-color: rgb(28, 66, 120);
}

@media (max-width: 767px) {
    .section-welcome__bg {
        bottom: 18%;
    }
}

.video-in-computer__big {
    position: relative;
    width: 80vmin;
    height: 30vmin;
}

.video-in-computer__small {
    display: none;
}
.video-in-computer__laptop {
    display: none;
}
.video-in-computer__video {
    display: none;
}

@media (max-width: 767px) {
    .video-in-computer__small {
        display: block;
    }
}
@media (min-width: 768px) {
    .video-in-computer__laptop {
        display: block;
    }
    .video-in-computer__video {
        display: block;
    }
}

@media (max-width: 767px) {
    .video-in-computer__small {
        max-width: 100%;
        margin: auto;
    }
}

@media (min-width: 768px) {
    .video-in-computer__laptop {
        position: absolute;
        left: 0;
        top: 0;
        width: 80vmin;
        height: 30vmin;
    }

    .video-in-computer__video {
        position: absolute;
        left: 7vmin;
        top: 1.5vmin;
        width: calc(0.78 * 80vmin);
        height: calc(0.78 * 30vmin);
    }
}
