<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12 col-sm-3">
                <h2><a href='{{"how-it-works" | absURL }}'>How It Works</a></h2>
                <p>A quick step-by-step look at our service.</p>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-3">
                <h2><a href='{{"about" | absURL }}'>About</a></h2>
                <p>Who we are, what we believe in, what we’re building.</p>
            </div>
            <div class="col-md-2 col-xs-12 col-sm-2">
                <h2><a href='{{"pricing" | absURL }}'>Pricing</a></h2>
                <p>We offer different setup options.</p>
            </div>
            <div class="col-md-2 col-xs-12 col-sm-2">
                <h2><a href="//faq.zamenhof.net/" target="_blank">Questions</a></h2>
                <p>Questions, answers, both frequent and infrequent.</p>
            </div>
            <div class="col-md-2 col-xs-12 col-sm-2">
                <h2><a href='{{"contact" | absURL }}' >Contact</a></h2>
                <p>
                    For general queries, including partnership opportunities, 
                    <a class="page-footer__important-link" href='{{"contact" | absURL }}' >please send us a message.</a>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <hr class="page-footer__divider">
        <p class="text-center">
            We are now hiring language teachers.
            <a
                href="https://admin.zamenhof.net/application/step1.php" target="_blank"
                class="page-footer__important-link" >Apply Here</a></p>
        <p class="page-footer__mobile">
            Zamenhof helps brick-and-mortar language schools create new revenue stream by providing
            everything necessary to offer an online version of their existing service.<br>
            © 2018 Zamenhof Inc. Built in Columbus, Ohio.
        </p>
        <p class="text-center">
            <a href="/terms">Terms</a>
            |
            <a href="https://app.termly.io/document/privacy-policy/2cc0a116-aede-41c8-8b4b-110a7abba01d" target="_blank">Privacy</a>
        </p>
    </div>
</footer>
