<div class="grow-section">
    {{.Inner}}
    <div>
        <button onclick="$('.request-modal-container').css('display','flex');" class="grow-section__request_button">Request Access</button>
    </div>
    <div>
        <a href="https://admin.zamenhof.net/login">Already have an account?</a>
    </div>

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <div class="request-modal-container">
        <div class="close-hitbox" onclick="$('.request-modal-container').css('display','none');"></div>
        <div class="container container-1" style="padding:0px;">
            <div class="content">
            <form id="partner_application_form"  action="#" method="post" enctype="multipart/form-data">
                <h3>Welcome to Zamenhof</h3>
                <p>Fill in your details and we will be in touch with you shortly.</p>
                <div class="g-recaptcha" id="g-recaptcha" data-sitekey="6LfHdygTAAAAAGZlhjC7LJg_lUXU4io07tqfci2d" data-callback="clickrecaptcha" original-title="Please tick the captcha" style="width:100%;"></div>

                <input type="email" class="email" id="email" name="email" placeholder="email@example.com" original-title="Please enter valid email address" />
                <input type="hidden" name="captcha" id="captcha" value="0">
                <input type="hidden" name="action" id="action" value="partner_application">
                <button type="button" class="button" onclick="submit_application();">Submit</button>
                <!--<table cellpadding="0" cellspacing="0" border="0" class="table">
                <tr><td><div style="width:97%;border-bottom:1px solid #ddd;margin:0;float:left;"></div></td></tr>
                <tr><td><input type="text" class="email" id="email" name="email" placeholder="email@example.com" original-title="Please enter valid email address" /></td></tr>
                <tr><td><div class="g-recaptcha" id="g-recaptcha" data-sitekey="6LfHdygTAAAAAGZlhjC7LJg_lUXU4io07tqfci2d" data-callback="clickrecaptcha" original-title="Please tick the captcha" ></div></td></tr>
                <tr><td><div class="g-recaptcha" id="g-recaptcha" ></div></td></tr>
                <input type="hidden" name="captcha" id="captcha" value="0" />
                <input type="hidden" name="action" id="action" value="partner_application" />
                <tr><td></td></tr>
                </table>-->
            </form>
        </div>
        </div>
    </div>
</div>
<script>
    function clickrecaptcha(){
        $('#captcha').val(1);
        $("#g-recaptcha").tipsy('hide');
    }

    $(function(){
        $('#email').tipsy({gravity:'s',html:true,fade:true,trigger:'manual'});
        $('#g-recaptcha').tipsy({gravity:'s',html:true,fade:true,trigger:'manual'});

        $('#email').click(function(){
            $("#email").tipsy('hide');
        });

        $('.close-hitbox').click(function(){
            $("#email").tipsy('hide');
            $("#g-recaptcha").tipsy('hide');
        });
    });

    function submit_application(){
        var err=0;
        if($('#email').val().length==0){
            err=1;
            $('#email').attr('original-title','Please enter email address.');
            $("#email").tipsy('show');
        } else if(!isEmail($('#email').val())) {
            $('#email').attr('original-title','Please enter valid email address.');
            $("#email").tipsy('show');
            err=1;
        }

        if($('#captcha').val()==0){
            err=1;
            $('#g-recaptcha').attr('original-title','Please click the captcha.');
            $("#g-recaptcha").tipsy('show');
        }
        if(err==1){
            return false;
        }

        var data=$('#partner_application_form').serializeArray();
        $.ajax({
            type:'POST',
            url:'index.php',
            data: data,
            dataType:'json',
            success:function(jdata){
                if(jdata.success==1)
                    $('.container-1').css('background','#179b09');
                else
                    $('.container-1').css('background','#d10e0e');


                $('.content').css({'color':'#fff','font-size':'150%'});
                $('.content').hide();
                $('.content').html(jdata.msg).css({'padding':'30px','display':'table-cell','vertical-align':'middle','height':'230px','width':'420px'});
                $('.content').show('slow');
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
                $('.content').html('Some error occured, please try again later.'.errorThrown);
            }
        });


        return true;
    }

    function isEmail(email) {
        email=email.toLowerCase();
        var n = email.search("gmail");
        if(n>-1){
            return false;
        }
        n = email.search("yahoo");
        if(n>-1){
            return false;
        }
        n = email.search("aol");
        if(n>-1){
            return false;
        }
        n = email.search("hotmail");
        if(n>-1){
            return false;
        }
        n = email.search("msn.com");
        if(n>-1){
            return false;
        }
        n = email.search("rediffmail");
        if(n>-1){
            return false;
        }
        n = email.search("yandex");
        if(n>-1){
            return false;
        }
        n = email.search("outlook");
        if(n>-1){
            return false;
        }
        n = email.search("zoho");
        if(n>-1){
            return false;
        }
        n = email.search("mail.com");
        if(n>-1){
            return false;
        }
        n = email.search("inbox.com");
        if(n>-1){
            return false;
        }
        n = email.search("icloud");
        if(n>-1){
            return false;
        }
        n = email.search("indiatimes");
        if(n>-1){
            return false;
        }

        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        f=regex.test(email);

        return f;
    }
</script>
