<table class="setup-plans">
    <thead>
    <tr>
        <th></th>
        <th scope="col">
            <h2 class="heading--4 product-title">Free</h2>
            <p>DIY</p>
        </th>
        <th scope="col">
            <h2 class="heading--4 product-title">Basic</h2>
            <p>Get some help to setup the Zamenhof platform.</p>
        </th>
        <th scope="col">
            <h2 class="heading--4 product-title">Add-on project</h2>
            <p>1 page added to your existing website.</p>
        </th>
        <th scope="col">
            <h2 class="heading--4 product-title">Key in hand</h2>
            <p>10 pages website dedicated to this project.</p>
        </th>
        <th scope="col">
            <h2 class="heading--4 product-title">Franchise</h2>
            <p>Key in hand with branding</p>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" id="f-monthly_price">
                <span class="setup-plans__feature-name">
                    Setup cost (one time fee)
                </span>
        </th>

        <td headers="f-monthly_price">
                <span class="setup-plans__feature-value">

                    <span class="price_p">
                        <sup>$</sup><span class="price__number">{{ .Get 0 }}</span>
                    </span>

                </span>
        </td>
        <td headers="f-monthly_price">
                <span class="setup-plans__feature-value">

                    <span class="price_p">
                        <sup>$</sup><span class="price__number">{{ .Get 1 }}</span>
                    </span>

                </span>
        </td>
        <td headers="f-monthly_price">
                <span class="setup-plans__feature-value">

                    <span class="price_p">
                        <sup>$</sup><span class="price__number">{{ .Get 2 }}</span>
                    </span>

                </span>
        </td>
        <td headers="f-monthly_price">
                <span class="setup-plans__feature-value">

                    <span class="price_p">
                        <sup>$</sup><span class="price__number">{{ .Get 3 }}</span>
                    </span>

                </span>
        </td>
        <td headers="f-monthly_price">
                <span class="setup-plans__feature-value">

                    <span class="price_p">
                        <sup>$</sup><span class="price__number">{{ .Get 4 }}</span>
                    </span>

                </span>
        </td>
    </tr>

    </tbody>
    <tbody>
    <tr>
        <th scope="col" colspan="6">
            <h3 class="heading--5 setup-plans__section-heading">Features</h3>
        </th>
    </tr>

    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javaScript:void(0);">30+ native-speaking teachers</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javaScript:void(0);">1-on-1 lessons</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Group lessons</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Phone lessons</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Academic content</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Homework</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Class notes</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Attendance report</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Professional reports</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">CRM</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Free evaluations</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Forum access</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Self-study</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Corporate panel</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    </tbody>

    <!--Zamenhof integration-->
    <tbody>
    <tr>
        <th scope="col" colspan="6">
            <h3 class="heading--5 setup-plans__section-heading">Zamenhof integration</h3>
        </th>
    </tr>

    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Payment links integration</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Free evaluation form</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Student account access</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Self-study (# of lessons)</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    500
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    800
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    1000
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Price setup</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Secretary account</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    Unlimited
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    Unlimited
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    Unlimited
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    Unlimited
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Translation (customer support)</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
    </tr>
    </tbody>

    <!--Website setup-->
    <tbody>
    <tr>
        <th scope="col" colspan="6">
            <h3 class="heading--5 setup-plans__section-heading">Website setup</h3>
        </th>
    </tr>

    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Domain</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Temporary website</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Website</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    1 page
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    10 pages
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    10 pages
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Teacher page</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Blog</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Course page</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Delay</a>
                </span>
        </th>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    1 week
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    2 weeks
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    4 weeks
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    4 weeks
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Hosting</a>
                </span>
        </th>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    6 months
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    1 year
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    2 years
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Website translation</a>
                </span>
        </th>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
    </tr>
    </tbody>

    <!--Marketing / Design-->
    <tbody>
    <tr>
        <th scope="col" colspan="6">
            <h3 class="heading--5 setup-plans__section-heading">Marketing / Design</h3>
        </th>
    </tr>

    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javaScript:void(0);">Gift cards (coupon codes)</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    250
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    500
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    500
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javaScript:void(0);">Social media integration</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javascript:void(0)">Adwords / MS ads / Facebook ads</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javascript:void(0)">Banners ads</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javascript:void(0)">Google Analytics</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row">
                <span class="setup-plans__feature-name">
                    <a class="info-tooltip-button" href="javascript:void(0)">Gift cards design</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javascript:void(0)">Emailing campaign setup (mailchimp)</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javascript:void(0)">Video presentation</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javascript:void(0)">Video instruction</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javascript:void(0)">Landing page</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    </tbody>

    <!--Phone Number-->
    <tbody>
    <tr>
        <th scope="col" colspan="6">
            <h3 class="heading--5 setup-plans__section-heading">Phone number</h3>
        </th>
    </tr>

    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javaScript:void(0);">Dedicated phone number)</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    500
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javaScript:void(0);">Professional voice mail</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    -
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    </tbody>

    <!--Payment Processor-->
    <tbody>
    <tr>
        <th scope="col" colspan="6">
            <h3 class="heading--5 setup-plans__section-heading">Payment processor</h3>
        </th>
    </tr>

    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javaScript:void(0);">Paypal</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javaScript:void(0);">Stripe</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javaScript:void(0);">Others</a>
                </span>
        </th>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    <img alt="Yes" src="/img/icon_check.png">
                </span>
        </td>
    </tr>
    </tbody>

    <!--Assistance-->
    <tbody>
    <tr>
        <th scope="col" colspan="6">
            <h3 class="heading--5 setup-plans__section-heading">Assistance</h3>
        </th>
    </tr>

    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javaScript:void(0);">Training</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    Email - 24h
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    Email - 24h
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    Email - 24h
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    Chat / Email - 1h
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    Chat / Email - 1h
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javaScript:void(0);">Customer support</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    Email - 24h
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    Email - 24h
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    Email - 24h
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    Chat / Email - 1h
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    Chat / Email - 1h
                </span>
        </td>
    </tr>
    </tbody>

    <!--Pricing-->
    <tbody>
    <tr>
        <th scope="col" colspan="6">
            <h3 class="heading--5 setup-plans__section-heading">Pricing</h3>
        </th>
    </tr>

    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javaScript:void(0);">1-on-1</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    $1 to $4
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    $1 to $4
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    $1 to $4
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    $1 to $4
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    $1 to $4
                </span>
        </td>
    </tr>
    <tr>
        <th scope="row" class="info-tooltip-button">
                <span class="setup-plans__feature-name">
                    <a href="javaScript:void(0);">Group</a>
                </span>
        </th>

        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    $2
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    $2
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    $2
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    $2
                </span>
        </td>
        <td headers="f-storefront">
                <span class="setup-plans__feature-value">
                    $2
                </span>
        </td>
    </tr>
    </tbody>
</table>

{{.Inner}}
