{{- $photo := .Get "photo" -}}
{{- $name := .Get "name" -}}
{{- $fullname := .Get "fullname" -}}
{{- $title := .Get "title" -}}
{{- $img_class := .Get "img_class" -}}

<div class="team-person">
    <div class="team-person__photo" >
{{ if findRE ".svg$" $photo  }}
<span class="team-person__svg {{ $img_class }}">
{{ readFile $photo | safeHTML }}
</span>
{{ else }}
        <img src="{{$photo}}" />
{{ end }}
    </div>
    <div class="team-person__name">{{$name}}</div>
    <div class="team-person__blurb">
        <h4 class="team-person__fullname">{{$fullname}}</h4>
        <p class="team-person__title">{{$title}}</p>
        {{.Inner}}
    </div>
</div>
