<div class="section-welcome__computer-container">
    <div class="section-welcome__bg"></div>

    <picture class="video-in-computer__small">
        <source type="image/webp" srcset='{{ "homepage/computer-screen-1.webp" | absURL }}' />
        <source type="image/png" srcset='{{ "homepage/computer-screen-1.png" | absURL }}' />
        <img src="/homepage/computer-screen-1.png" alt="Computer with Zamenhof" />
    </picture>

    <div class="video-in-computer__big">
        <video class="video-in-computer__video" autoplay="" muted="" src='{{ "video/virtual-class1.mp4" | absURL }}' loop="" mute=""></video>
        <object class="video-in-computer__laptop" type="image/svg+xml" data='{{ "homepage/computer-screen.svg" | absURL }}' class="logo">
        </object>
    </div>
</div>
{{.Inner}}
